.o-key-info-with-icons-band {
  &__items {
    display: flex;
    overflow: auto;
    align-items: center;
    gap: 36px;
    scrollbar-width: none;

    @db l {
      gap: 34px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
