<div {{ attributes }}>
  <a class="m-footer-logo__link" href="#" rel="home" aria-label="Home">
    <img class="m-footer-logo__image" src="{{ footerLogoPath }}" alt="Home" width="{{ width }}" height="{{ height }}"/>
  </a>
</div>
