<div {{ attributes }}>
  <div class="o-service-center__container">
    {% if content.title|render %}
    <div class="o-service-center__title-container">
      {{ content.title }}
    </div>
    {% endif %}

    {% if content.serviceText|render or content.serviceDetails|render%}
    <div class="o-service-center__content-container">
      {% if content.serviceText|render %}
      <div class="o-service-center__text-container">
        {{ content.serviceText }}
      </div>
      {% endif %}
      {% if content.serviceDetails|render%}
      <div class="o-service-center__details-container">
        {{ content.serviceDetails }}
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>