<div {{ attributes }}>
  <a class="m-logo__link" href="#" rel="home" aria-label="Home">
    <img class="m-logo__image" src="{{ logoPath }}" alt="Home" width="{{ width }}" height="{{ height }}"/>
  </a>
</div>