.a-text-field {
  display: grid;
  gap: 8px;

  &__error {
    padding-left: 8px;
    color: var(--color-secondary-error);
  }

  &__element-container {
    position: relative;
  }

  &__element {
    width: 100%;
    padding: 18px 24px;
    cursor: pointer;
    letter-spacing: var(--letter-spacing-0-03);
    color: var(--color-text-stroke-primary);
    border: 1px solid var(--color-text-stroke-strokes);
    border-radius: var(--border-radius-6);
    background-color: var(--color-background-primary);
    box-shadow: none;
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-1-71);
    appearance: none;

    &::placeholder {
      opacity: 1;
      color: var(--color-text-stroke-secondary);
    }

    .a-text-field--select & {
      padding-right: 60px;
    }

    .a-text-field--textarea & {
      min-height: 160px;
      max-height: 250px;
      resize: vertical;
      vertical-align: top;
    }

    .is-focused & {
      border-color: var(--color-text-stroke-secondary);
    }

    &:focus {
      border-color: var(--color-text-stroke-secondary);
      outline: none;
    }

    &.error,
    .error ~ .a-text-field__js-select-list & {
      border-color: var(--color-secondary-error);
    }
  }

  &__throbber {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: flex-end;
    width: 24px;
    /* stylelint-disable-next-line unit-case */
    height: calc(100% - 1PX);
    background-color: var(--color-background-primary);

    .ui-autocomplete-loading ~ & {
      display: flex;
    }
  }

  &__throbber-circle {
    width: 12px;
    height: 12px;
    animation: a-text-field-throbber-circle-animation var(--transition-duration-0-35) linear infinite;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-text-stroke-secondary) var(--color-text-stroke-secondary) transparent transparent;
    border-radius: 50%;
  }

  &__chevron-icon {
    width: 12px;
    height: 12px;
    fill: currentColor;
  }

  &__select-chevron {
    position: absolute;
    top: 50%;
    right: 26px;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    fill: var(--color-text-stroke-secondary);

    [data-once*="js-a-text-field"] .a-text-field__element-container > & {
      display: none;
    }

    .is-open & {
      transform: translateY(-50%) rotate(-180deg);
    }
  }

  &__js-select {
    &:focus {
      outline: none;
    }
  }

  &__js-select-inner {
    position: relative;
  }

  &__js-select-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    opacity: 0;
  }

  &__js-select-placeholder {
    color: var(--color-text-stroke-secondary);
  }

  &__js-select-list {
    &--dropdown {
      position: absolute;
      z-index: 10;
      top: 100%;
      left: 0;
      visibility: hidden;
      overflow: auto;
      min-width: 100%;
      max-height: 190px;
      padding: 12px 0;
      transform: scale(1, 0.9);
      transform-origin: top;
      pointer-events: none;
      opacity: 0;
      background-color: var(--color-background-primary);
      box-shadow: var(--box-shadow);

      .is-open & {
        visibility: visible;
        transition-timing-function: var(--transition-timing-function-cubic-bezier);
        transition-duration: var(--transition-duration-0-2);
        transition-property: transform, opacity, visibility;
        transform: scale(1, 1);
        pointer-events: auto;
        opacity: 1;
      }

      .is-flipped & {
        top: auto;
        bottom: 100%;
        transform-origin: bottom;
      }
    }
  }

  &__js-select-item {
    &--choice {
      padding: 12px 24px;
      cursor: pointer;

      &.is-highlighted {
        background-color: var(--color-ghost-success);
      }
    }

    &--default-value {
      display: none;
    }
  }

  &__js-preview-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

input[type="search" i]::-webkit-search-cancel-button,
input[type="date" i]::-webkit-calendar-picker-indicator,
input::-webkit-inner-spin-button {
  display: none;
}

.iti {
  width: 100%;
}

.iti__arrow {
  width: 12px;
  height: 12px;
  border: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%233D465E' d='M10.59 0L6 4.58L1.41 0L0 1.41L6 7.41L12 1.41L10.59 0Z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  [aria-expanded="true"] & {
    transform: scaleY(-1);
  }
}

.iti__selected-flag {
  padding: 0 12px 0 24px;
  border-radius: var(--border-radius-6) 0 0 var(--border-radius-6);
}

.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: var(--color-ghost-success);
}

.iti__country-list {
  top: 100%;
  left: 0;
  overflow: auto;
  width: calc((var(--viewport-width) - 16px * 2));
  max-height: 190px;
  padding: 12px 0;
  white-space: normal;
  border: 0;
  box-shadow: var(--box-shadow);

  @db m {
    width: calc((var(--viewport-width) - 16px * 3) / 2);
  }

  @db l {
    width: 400px;
  }

  .iti-mobile & {
    top: 0;
  }
}

.iti__country {
  padding: 12px 24px;

  &.iti__highlight {
    background-color: var(--color-ghost-success);
  }
}

.iti-mobile .iti__country {
  padding: 12px 24px;
}

.iti--allow-dropdown input,
.iti--allow-dropdown input[type=tel],
.iti--allow-dropdown input[type=text],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type=tel],
.iti--separate-dial-code input[type=text] {
  padding-right: 24px;
  padding-left: 84px;
}

.iti-mobile .iti--container {
  top: calc(var(--o-header-height) + var(--toolbar-height));
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: calc(var(--viewport-height) - var(--o-header-height) - var(--toolbar-height));
  padding: 0;

  @db l {
    top: calc(var(--o-header-height) + var(--toolbar-height) + 32px);
    right: 32px;
    bottom: 32px;
    left: 32px;
    width: auto;
    height: auto;
  }
}

.iti__divider {
  margin-bottom: 12px;
  padding-top: 12px;
  border-color: var(--color-text-stroke-strokes);
}

.iti__dial-code {
  color: var(--color-secondary-saint-gobain-blue);
}

@keyframes a-text-field-throbber-circle-animation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
